<!-- Footer with links to other sites -->

<footer>
    <div class="container">
    <table>

      <tr>
        <td>
          <h2><a href="https://github.com/kelseychristensen/" target="_blank" class="github"><i class="fa-brands fa-github"></i></a></h2>
        </td>
        <td>
          <h2><a href="https://dribbble.com/kelseychristensen" target="_blank" class="insta"><i class="fa-brands fa-dribbble"></i></i></a></h2>
        </td>
        <td>
          <h2><a href="https://www.linkedin.com/in/kelsey-christensen-a48b20109/" target="_blank" class="linkedin"><i class="fa-brands fa-linkedin-in"></i></a></h2>
        </td>
          <td>
          <h2><a href="mailto:kelsey.c.christensen@gmail.com" target="_blank" class="linkedin"><i class="fa-solid fa-envelope"></i></a></h2>
        </td>
      </tr>

    </table>
</div>
</footer>

</body>
</html>