{% include "header.html" %}


<!-- Welcome -->


    <div class="welcome">
            <div class="row">
            <div class="col-lg-5">
        <div class = "box">
            <h1 class="greeting">HI, I'M KELSEY</h1>
            <p class="description">I'm a Python developer and web designer.</p>
        </div></div>

                <div class="col-lg-5">
        <div class = "image-container">
            <img class="portrait" src="static/woman-working.jpg">
        </div></div>
                </div></div>


{% include "footer.html" %}