{% include "header.html" %}


    <main>
    <div class="container">
      <div class="row" id="resume">

        <div class="col-lg-3" id="res_heading_col">

          <h1> Experience </h1>

        </div>

        <div class="col-lg-9" id="item_col">

          <p class="exp_desc">I have over seven years experience producing high-quality writing, as well as five years of experience with office administration. I am extremely adept at producing large volumes of work at a fast pace, and am skilled with HTML/CSS,
            photo/video editing, as well as providing customer service & technical support. I have assisted in the implementation of various technologies and developing and streamlining technological solutions. </p><br><br>

          <h2>Vermont Virtual Learning Cooperative, Springfield, VT</h2>
          <h5>Technical Support | July 2022 - Present</h5>
          <ul class="duties">
            <li><p>Supported the implementation of Genius SIS for professional development enrollments.</p></li>
            <li><p>Re-designed and maintained company website.</p></li>
            <li><p>Developed multiple professional development courses aimed at helping K-12 teachers leverage technology in their courses.</p></li>
            <li><p>Acted as the account administrator for various tools, including Genius SIS, Canvas LMS, Zoom, and FreshDesk.</p></li>
            <li><p>Monitored and solved hundreds of Help Desk tickets from a variety of stakeholders.</p></li>
            <li><p>Created and deployed hundreds of pieces of unique content for social media, as well as email campaigns, posters, and other marketing materials.</p></li>
          </ul>
          <h5>Secretary | April 2020 - July 2022</h5>
          <ul class="duties">
            <li><p>Collected and compiled employee documents for 50+ employees.</p></li>
            <li><p>Coordinated a virtual professional conference about online and blended learning.</p></li>
            <li><p>Performed monthly payroll for adjunct employees.</p></li>
            <li><p>Acted as the primary event coordinator.</p></li>
          </ul>

          <h2>Lofts and Flats LLC, Brooklyn, NY</h2>
          <h5>Office Administrator | August 2019 - March 2020</h5>
          <ul class="duties">
            <li><p>Provided reception, customer service, compiling prospective tenant applications, holding lease signings, managing agreements, and databasing inventory for a  busy real estate brokerage providing rentals throughout Brooklyn, NY.</p></li>
            <li><p>Implemented and maintained a new project management program for organization-wide tracking of available inventory as apartments came on or off the market.</p></li>
            <li><p>Coordinated the collection of a variety of application materials and agreements, processed applications, and prepared applications for delivery to stakeholders.</p></li>
            <li><p>Oversaw lease signings.</p></li>
          </ul>

            <h2>The Eagle Times, Claremont, NH</h2>

            <h5>Staff Writer | May 2017 - September 2017</h5>

          <ul class="duties">
            <li><p>Covered local news on the Springfield, Windsor, and Bellows Falls beat for a daily newspaper serving the Upper Valley Region of Vermont and New Hampshire.  </p></li>
            <li><p>Contributed 2 to 3 articles and companion photographs per day on the Southern Vermont region to a newspaper specializing in local news, events, and feature stories.</p></li>
            <li><p>Researched and developed original feature stories.</p></li>
            <li><p>Reported on local government, public health, community events, and human interest stories.</p></li>
          </ul>
            <p>The Eagle Times is a local, daily newspaper serving the Upper Valley Region of Vermont and New Hamsphire. My resposibility was to cover local news on the Vermont (Springfield, Windsor, and Bellows Falls) beat.

        </div>

        <div class="row">

          <div class="col-lg-3">
            <h1> Skills </h1>
          </div>

          <div class="col-lg-3">
            <ul class="duties">
            <li><p>Writing & Editing</p></li>
            <li><p>Technical Support/Help Tickets</p></li>
            <li><p>Customer Service</p></li>
            <li><p>Canvas LMS</p></li></ul></div>
            <div class="col-lg-3">
              <ul class="duties">
            <li><p>Genius SIS</p></li>
            <li><p>Microsoft, Adobe and Google Suites</p>
            <li><p>Photo Editing</p></li>
            <li><p>Video Editing</p></li>
            </div>
                      <div class="col-lg-3">
              <ul class="duties">
            <li><p>HTML</p></li>
            <li><p>CSS</p></li>
            <li><p>2D & 3D Design</p></li>
            <li><p>Python</p></li></ul>
            </div>

                <div class="ed-row">

                  <div class="col-lg-3">
                    <h1> Education </h1>
                  </div>

                  <div class="col-lg-9">

                    <h2> Master of Arts </h2>
                    <p>New York University<br>
                      Tisch School of the Arts | 2017<br>
                      <strong>Achievements:</strong><br>
                      Recipient, William K Everson Award for Academic Excellence <br><br>

                    <h2> Bachelor of Arts </h2>
                    <p>Smith College | 2015</br>
                      <strong>Achievements:</strong><br>
                      Dean's List, 2011-2012<br>
                      Dean's List, 2014-2015
                  </div>
    </main><br><br>

{% include "footer.html" %}
